In [1]:
import sys
import pandas as pd
from interactive_network_visualization.controllers import NetworkAnalyzer
%matplotlib notebook

In [7]:
COMMENT_COLOR         = "blueviolet"
SUBMISSION_COLOR      = "darkorange"
TEXT_PREVIEW_SIZE     = 240
TERM_OF_INTEREST      = "python"
SUBREDDIT_OF_INTEREST = "python"
TIMEFRAME             = "48h"

In [3]:
nodes = pd.read_csv('../nodes.csv').set_index('id')

           size
id
G1     0.995640
G10    0.996185
G100   0.996185
G1000  0.103542
G1001  0.105722
...         ...
G995   0.105722
G996   0.106267
G997   0.105722
G998   0.105722
G999   0.105722

[1643 rows x 1 columns]

In [9]:
nodes[0:3]

          size
id
G1    0.995640
G10   0.996185
G100  0.996185

In [10]:
edges = pd.read_csv('../edges.csv').set_index(["from", "to"])

In [11]:
edges[0:3]

                weight
from to
G109 G1406  256.013694
G16  G1440  242.800004
G188 G938   204.840171

In [20]:
network_analyzer = NetworkAnalyzer(nodes, edges)

NetworkAnalyzer(children=(Accordion(children=(LayoutView(children=(Dropdown(options=('fruchterman_reingold_lay…

In [ ]:
network_analyzer